<div class='side-menu'>
  <div class="user-list">
    <p>参加者</p>
    <% @users.each do |user| %>
      <div class='user-name'>
        <%= user.nickname %> 
      </div>
    <% end %>
  </div>
</div>

