.wrapper {
  background-image: url("/images/corkBoard.jpg");
  background-size: 100% 100%;
  height: calc(100vh - 80px - 90px);
  display: flex;
  border: solid 4px snow;
  padding: 10px 90px;
}

.user-info {
  background-color: rgba(255, 255, 255, 0.7);
  border: black solid 1px;
  margin: 20px 15px;
  border-radius: 5px;
  width: 350px;
  height: 70%;
  padding: 20px;
  overflow: hidden;
}
.stats {
  display: flex;
  justify-content: center;
}
.user-show-name {
  margin-left: 30px;
  font-size: 20px;
}

.right-content {
  margin-left: 20px;
  width: 400px;
  height: 300px;
}

.user-comment {
  height: 40%;
  background-color: rgb(247, 141, 11);
}

.diary-list {

}

.user-rap {
  font-size: 18px;
  margin: 10px 20px;
}

.info {
  font-size: 18px;
}

.image-rap {
  text-align: center;
}

.user-image {
  width: 70%;
  border-radius: 70px;
}

.hidden {
  width: 25vw;
}


.followings {
  margin-right: 30px;
}

.link {
  font-size: 20px;
  text-decoration: none;
}
