.user-show-contents, .stats {
  display: flex;
  justify-content: center;
}

.user-info, .hidden, .rooms, .lists {
  border-radius: 8px;
}

.user-info, .rooms, .lists, .my-page-header {
  background-color:white;
}

.user-show-contents {
  background-image: url("/images/CorkBoard02.jpg");
  height: 100vh;
  width: 100%;
  padding: 20px;
  
}

.user-info {
  height: 370px;
  width: 30%;
  margin-top: 60px;
  padding-top: 40px;
  transform:rotate(-4deg);
  border: rgb(105, 35, 35) solid 4px;
  
}

.right-content {
  height: 30px;
  width: 40%;
  display: block;
  margin-left: 50px;
  padding-top: 30px;
}

.rooms, .lists {
  height: 250px;
  width: 80%;
  padding-top: 25px;
  border: rgb(105, 35, 35) solid 4px;
}

.rooms p, .lists p {
  font-size: 18px;
}

.rooms {
  transform:rotate(5deg);
}

.lists{
  transform:rotate(-3deg);
  margin-top: 45px;
}

.user-rap {
  height: 100px;
  margin: 10px 0px 0px 20px;
}

.info {
  font-size: 18px;
}

.rooms, .lists, .image-rap {
  text-align: center;
}

.hidden {
  width: 25vw;
}


.followings {
  margin-right: 15px;
}

.header-top-lain {
  background-color: grey;
  height: 15px;
}

.my-page-header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid blue 2px;
}

.logo {
  height: 65px;
  width: 80px;
  margin-left: 10px;
  margin-top: 5px;
}

.icon {
  height: 50px;
  width: 50px;
}

.left-list li {
  padding-left: 15px;
  display: inline;
}

.link, .logout {
  font-size: 17px;
  text-decoration: none;
}

.right-list {
  margin-right: 18px;
}