.wrapper {
  background-image: url("/images/show.png");
  background-size: 100% 100%;
  width: 100%;
  height: calc(100vh - 80px - 90px);
  padding: 10px 0px;
  justify-content: center;
  border: solid 8px snow;
  overflow: scroll;
}

.user-info {
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 300px;
  height: 90%;
  border: black solid 1px;
  border-radius: 5px;
  margin: 20px 15px 0px 5px;
  padding: 20px;
}
.image-rap {
  text-align: center;
}
.user-image {
  width: 170px;
  border: solid 2px black;
  border-radius: 90px;
}
.stats {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.user-show-name {
  margin-left: 30px;
  font-size: 20px;
}

.right-content {
  background-color: snow;
  padding: 40px 0px;
  width: 500px;
  min-width: 400px;
  height: 90%;
  margin: 20px 5px 0px 15px;
  border: solid 1px black;
  border-radius: 5px;
}

.user-comment {
  height: 40%;
  margin-bottom: 40px;
  background-color: rgba( 0, 0, 0, 0.2);
}

.diary-list {
  height: 50%;
  background-color: bisque;
}

.user-rap {
  font-size: 18px;
  margin: 10px 20px;
}
.user-rap p {
  margin: 10px 0px;
}

.info {
  font-size: 18px;
}



.hidden {
  width: 25vw;
}


.followings {
  margin-right: 20px;
}

.link {
  font-size: 20px;
  text-decoration: none;
}
