.user-show-contents, .stats {
  display: flex;
  justify-content: center;
}

.wrapper {
  background-image: url("/images/show.png");
  display: block;
  height: 100vh;
}

.main {
  height: calc(100% - 80px - 90px);
  border: solid snow 3px;
  display: flex;
  justify-content: center;
}

.user-info, .right-content {
  background-color: rgba(255, 255, 255, 0.7);
  border: black solid 1px;
  margin: 20px 60px;
  border-radius: 5px;
}
.user-info {
  border-radius: 5px;
  width: 280px;
  height: 90%;
  padding: 20px;
  overflow: hidden;
}

.right-content {
  width: 400px;
  height: 300px;
}

.diary-list {

}

.user-rap {
  margin: 10px 20px;
}

.info {
  font-size: 18px;
}

.image-rap {
  margin: 30px 30px 20px 30px;
}

.user-image {
  width: 100%;
  border-radius: 70px;
}

.hidden {
  width: 25vw;
}


.followings {
  margin-right: 15px;
}

.header-top-lain {
  background-color: grey;
  height: 15px;
}

.my-page-header {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid blue 2px;
}


.left-list li {
  padding-left: 15px;
  display: inline;
}

.link, .logout {
  font-size: 17px;
  text-decoration: none;
}

.right-list {
  margin-right: 18px;
}

