

.side-content {
  background-color: gray;
  height: 100vh;
  width: 150px;
  position: relative;
}
.list-name{
 padding: 20px;
 font-size: 18px;
 column-count: 2;
}

.side-bottom {
  font-size: 18px;
  position: absolute;
  bottom: 0;
}