<% @user ||= current_user %>
<div class="stats">
  <div class='followings'>
      <%=link_to 'フォロー', following_user_path(@user), class: 'link' %>
      <strong id="following" class="stat">
        <%= @user.followings.count %>
      </strong>
  </div>
  <div class='followers'>
    <%= link_to 'フォロワー', followers_user_path(@user), class: 'link' %>
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
  </div>
</div>