<%= render "shared/header" %>
<div class='wrappe'>
  <div class='announce'>
    <h2>NEWS</h2>
    <div class='announce-list'>
      <dl>
        <dt>2021.8.13</dt>
        <dd>不具合の修正報告</dd>
        <dt>2021.8.12</dt>
        <dd>不具合のお知らせ</dd>
        <dt>2021.8.11</dt>
        <dd>サイトOPNEのお知らせ</dd>
      </dl>
    </div>
  </div>
  <div class='diary-group'>
    <div class='pick-up-diarys'>
      <h3>Pick Up<h3>
    </div>
    <div class='new-diarys'>
      <h3>New Diary</h3>
    </div>
  </div>
</div>
<%= render "shared/footer" %>