<footer class='footer'>
  <div class='footer-list'>
    <%= link_to 'HOME', root_path, class: 'footer-list-item' %>
    <%= link_to 'COMPANY', root_path, class: 'footer-list-item' %>
    <%= link_to 'CONTACT', root_path, class: 'footer-list-item' %>
  </div>
</footer>