.wrappe {
  background-image: url("/images/top2.jpg");
  background-size: 100% 100%;
  width: 100vw;
  height: calc(100% - 80px - 90px);
  padding-top: 20px;
}
 
.announce {
  background-color: rgba(255, 250, 240, 0.85);
  height: 40%;
  width: 550px;
  margin: 20px auto;
  text-align: center;
  overflow: scroll;
  border: 7px double #000;
}
.announce h2 {
  margin-left: 217px;
  width: 100px;
  border-bottom: double 5px black;
}
dt {
  margin: 10px 0px 3px ;
}
dd{
  margin-right: 40px;
}

.announce-list {
  height: 100%;
}

.diary-group {
  height: 400px;
  width: 80%;
  margin: 0 auto ;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.pick-up-diarys, .new-diarys {
  background-color: rgba(245, 222, 179, 0.97);
  width: 35vw;
  height: 350px;
  padding-top: 10px;
  font-size: 18px;
  color: rgb(59, 59, 59);
  font-style: italic;
  border: solid 1px #a2844a;
  box-shadow: 0 0 5px 1.5px #a2844a;
}