.contents {
  background-color: gray;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.user-info, .rooms, .lists {
  background-color:white;
  height: 350px;
  width: 30%;
  padding-top: 25px;
}

.user-rap {
  height: 100px;
  margin: 10px 0px 0px 20px;
}

.info {
  font-size: 18px;
}

.rooms, .lists, .image-rap {
  text-align: center;
}

.hidden {
  width: 25vw;
}