.wrappe {
  background-image: url("/images/top.jpg");
  background-size: 100% 100%;
  width: 100vw;
  height: calc(100vh - 80px - 90px);
}

.sign-up-form {
  background-color: rgba(39, 38, 38, 0.5);
  color: snow;
  width: 95%;
  height: 95%;
  text-align: center;
  margin: 5px auto;
  padding-top: 30px;
  overflow: scroll;
}
.first-group {
  padding-top: 20px;
}
.form-text-rap {
  margin-bottom: 5px;
}
.form-text {
 font-size: 23px;
}
.new-form {
  background-color: snow;
  text-align: center;
  width: 300px;
  height: 40px;
  font-size: 20px;
  border: solid 2px black;
}

.field-group, .form-group {
  margin-top: 10px;
}

.second-group {
  margin-top: 20px;
  display: none;
}
.form-image-rap {
  background-color:rgba(255, 250, 250, 0.9);
  padding: 8px;
  color: black;
  border: solid 2px black;
}
.image-rap {
  display: none;
}
.gender-form {
  font-size: 20px;
}
.actions {
  width: 50%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}
.new-btn, .next-btn {
  border: solid 1px black;
  padding: 6px;
}
